*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Californian FB';
    font-size: 25px;
    text-align: center;
    font-weight: 100;
    color: #555;
    /*margin: 50px;*/
    /*margin-top: 8%;*/
    justify-items: center;
    background-image: url(bluebg.jpg);
    /*background-color: #e6cea0;*/
}
form{
    text-align: center;
    /*padding: 50px;*/
    border: 0px solid gray;
    /*max-width: 500px;*/
    /*background-color: white;*/
}
h1{
    font-family: 'Californian FB';
    text-decoration: underline;
    font-size: 50px;
}
/*.logo{
    display: block;
    width: 100%;
}*/
.login-btn{
    background-color: #57b9ff;
    color: white;
    display: inline-block;
    padding: 1rem 2rem;
    font-size: large;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.login-btn:hover{
    background-color: #02075d ;
    transition: all 0.5s;
}
.cancel-btn{
    background-color: rgb(246, 123, 123);
    color: white;
    display: inline-block;
    padding: 1rem 2rem;
    font-size: large;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.cancel-btn:hover{
    background-color: rgb(129, 3, 3);
    transition: all 0.5s;
}
.container{
    display: grid;
    grid-template-columns: 50fr 50fr;
    align-items: center;
}
.logo1{
    height: 725px;
    width: 800px;
}
input{
    width: 60%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 0px solid black;
    border-radius: 2px;
    box-shadow: 0 0 10px white;
    margin: 10px;
}
